h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    color: gray;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}
h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    line-height: 8vh;
    color: whitesmoke;
}
h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    line-height: 8vh;
    color: whitesmoke;

}

a {
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    
}

li, a, button {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
    color: aqua;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

nav_links li a:hover {
    color: wheat;
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

*div class{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
*div class{
    display: inline-block;
    height: 60px;
    width: 60px;

    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px;
    
}